body {
    background: rgb(243, 248, 255);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container,
.sidebar {
    display: grid;
}

.container {
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background: rgb(120, 120, 120);
    grid-row: 1 / span 2;
    grid-column: 1;

    grid-template-rows: 1fr 8fr;
}

.branding,
.nav-link {
    display: flex;
    align-items: center;
    gap: 15px;
}

.branding {
    grid-row: 1;
    padding: 1rem;
}

.nav {
    grid-row: 2;
    padding: 0 2rem;
}

.nav-link {
    padding: 1rem;
    justify-content: flex-start;
}

/* Sidebar icons */
#logo {
    height: 35px;
    width: 35px;
}

.navlink-icon {
    height: 20px;
    width: 20px;
}

.header {
    background: rgb(255, 255, 255);
    grid-area: 1 / 2;
}

.main-content {
    background: rgb(210, 210, 210);
    grid-area: 2 / 2;
}
