:root {
    --primary-color: rgb(252, 242, 231);
    --secondary-color: rgb(243, 213, 189);
    --tertiary-color: rgb(147, 212, 194);
    --shadow-color: rgba(196, 186, 179, 0.5);
}

body {
    /* background: rgb(243, 248, 255); */
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container,
.sidebar,
.header,
.main-content,
.p-cards {
    display: grid;
}

.container {
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    background: var(--tertiary-color);
    grid-row: 1 / span 2;
    grid-column: 1;

    grid-template-rows: 1fr 8fr;
}

.branding,
.nav,
.nav-link,
.search,
.user-profile,
.user-greeting,
.buttons,
.user {
    display: flex;
}

.branding,
.nav-link,
.search,
.user-profile,
.user-greeting,
.buttons,
.user {
    align-items: center;
    gap: 15px;
}

.branding {
    grid-row: 1;
    padding: 1rem;
}

.nav {
    grid-row: 2;
    padding: 0 2rem;

    flex-direction: column;
    gap: 30px;
}

.nav-link {
    padding: 1rem;
    justify-content: flex-start;
}

.main-links {
    grid-row: 1;
}

.other-links {
    grid-row: 2;
}

/* Sidebar icons */
#logo {
    height: 35px;
    width: 35px;
}

.navlink-icon {
    height: 20px;
    width: 20px;
}

.header {
    background: var(--primary-color);
    padding: 5px 15px;
    grid-area: 1 / 2;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.search,
.user-profile,
.user-greeting,
.buttons {
    justify-content: flex-start;
    padding: 0 calc(1.5rem + 5%);
}

.user-profile,
.buttons {
    justify-content: end;
}

.search {
    grid-area: 1 / 1;
}

.user-profile {
    grid-area: 1 / 2;
}

.user-greeting {
    grid-area: 2 / 1;
}

.buttons {
    grid-area: 2 / 2;
}

#search-bar,
button {
    border-radius: 50px;
    border: none;
}

#search-bar {
    height: 25px;
    width: clamp(250px, 80%, 40vw);
    background:var(--secondary-color);
    padding: 5px 15px;
}

button {
    height: 40px;
    width: 10vw;
    background:var(--tertiary-color);
}

/* Header icons */
#search-icon,
#notifications-icon {
    height: 30px;
    width: 30px;
}

#profile-icon,
.user-pic {
    height: 50px;
    width: 50px;
}

#profile-pic {
    height: 80px;
    width: 80px;
}

.main-content {
    background: var(--secondary-color);
    padding: 20px;
    grid-area: 2 / 2;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;
}

.projects {
    grid-row: 1 / span 2;
    grid-column: 1;
}

.p-cards {
    height: 90%;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 30px;
}

.project-card {
    min-width: min-content;
    height: clamp(200px, 30vh, 1fr);
}

.project-card,
.a-cards,
.trending-users {
    background: var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
}

.announcements {
    grid-area: 1 / 2;
}

.trending {
    grid-area: 2 / 2;
}

.user {
    padding: 10px;
}

.user-description > p {
    margin: 0;
}